    <section id="content-details" class="row clearfix">
        <article id="details-article" class="col-sm-8">
            <h1 id="article-title">Sqore Payment </h1>
<!--             <h3><small>By <a href="#" data-toggle="modal" data-target="#author-modal">Mattan Griffel</a></small></h3>
 -->
            <p>Click the button below to pay</p>
        </article>

        <%= form_tag charges_path, id: 'chargeForm' do %>
            <script src="https://checkout.stripe.com/checkout.js"></script>
            <%= hidden_field_tag 'stripeToken' %>
            <%= hidden_field_tag 'stripeEmail' %>  
            <%= hidden_field_tag 'amount', 499 %>  
            <button id="btn-buy" type="button" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-ok"></span>I want this!</button>
            <script>
            var handler = StripeCheckout.configure({
              key: '<%= Rails.configuration.stripe[:publishable_key] %>',
              token: function(token, arg) {
                document.getElementById("stripeToken").value = token.id;
                document.getElementById("stripeEmail").value = token.email;
                document.getElementById("chargeForm").submit();
              }
            });
             document.getElementById('btn-buy').addEventListener('click', function(e) {
              handler.open({
                name: 'Sqore',
                description: 'Sqore customer ($4.99)',
                amount: document.getElementById("amount").value
            });
            e.preventDefault();
           })
          </script>
        <% end %>

            <ul id="details-infobox" class="list-group">
              <li class="list-group-item active clearfix">DETAILS</li>
              <li class="list-group-item clearfix">
              </li>
            </ul>
        </aside>
    </section>
</div>
<footer id="site-footer">
Made by <a href="http://sqore.com" target="_blank"><%= image_tag('sqore-logo-black.svg', id: "content-head-img", alt: "Learn Growth Hacking") %></a>

</footer>


